# Это шаблон. Скопируй этот файл в .env на сервере и подставь реальные значения

# Настройки MinIO
MINIO_URL=http://minio:9000
MINIO_EXTERNAL_URL=http://твой_ip_сервера:9000

# Настройки Google OAuth2
GOOGLE_CLIENT_ID=твой_client_id_здесь
GOOGLE_CLIENT_SECRET=твой_client_secret_здесь